body{
    background-color: #1f1f1f;
    margin-top: 50px;
    text-align: center;
}
h1{
  margin-top: auto;
  text-align: center;
  color: #777777;
  size: 50px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  padding: 20px;
}
